
<ul class="nav-list">
{% if page.dir != '/' %}
 <li class="nav-list-item"><a class="underline" href="/">Home</a></li>
{% endif %}
{% assign categories_list = site.categories %}
{% if categories_list.first[0] == null %}
    {% for category in categories_list %}
    <li class="nav-list-item"><a class="underline" href="/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | capitalize | replace: '-', ' '  }} </a></li>
    {% endfor %}
{% else %}
    {% for category in categories_list %}
    <li class="nav-list-item"><a class="underline" href="/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | capitalize | replace: '-', ' '  }} </a></li>
    {% endfor %}
{% endif %}
{% assign categories_list = nil %}
</ul>