
<footer>
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row mt-60 mb-60 t-lh-xs-5">
                <div class="col-xs-12 col-md-3 mb-15">
                    <span class="wrap-word">{{site.short}}</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    Working remotely from <a href="https://goo.gl/maps/L8ssDYNBaCLEvsfeA" target="_blank" data-ga="link" data-gal="footer map" class="no-break">Wānaka, New Zealand</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <nav>
                        <a href="mailto:{{site.email}}" data-ga="link" data-gal="footer email" class="underline-none">{{site.email}}</a>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</footer>