
<header id="header" class="sticky--top">
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row mt-30 mb-30 t-lh-xs-3">
                <div class="mt-60 col-xs-8 col-sm-4 col-md-3 logo_container">
                    <a href="/" class="logo {% if page.dir != '/' %}logo--small{% endif %}">
                        {% svg /assets/images/marc-mchardy-logo-alt.svg width=700 class="u-mw-100 masthead" %}
                    </a>
                </div>
                <div class="mt-60 mb-30 col-xs-12 col-sm-6 col-md-5 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 first-xs last-sm">
                    <nav class="row">
                        <div class="col-xs-8 col-md-10">
                            {% include categories.liquid %}
                            <a href="mailto:{{site.email}}" class="underline">Contact</a>
                        </div>
                        
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>