
<div class="header">
    <div class="container-fluid">
        <div class="menu row pt-70 pb-70 t-lh-xs-3">
            <div class="col-xs-12 col-md-3">
                <span class="wrap-word">{{site.short}}</span>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1">
                <nav class="row">
                    <div class="col-xs-12 col-md-10">
                            {% include categories.liquid %}
                    </div>
                    <div class="col-xs-12 col-md-2 t-md-ar">
                        <a href="mailto:hi@marcmchardy.com" class="underline">Contact</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>