* {
    font-size: 16px;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0, 0, 255, 0.10);
}
h1 {
    font-size: 2.2em;
    font-weight: 300;
    font-family: 'EB Garamond', serif;
}
h2 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'EB Garamond', serif;
}
h3 {
    font-size: 1em;
    font-weight: 300;
    font-family: 'EB Garamond', serif;
}
h4 {
    font-size: 0.8em;
        font-family: 'EB Garamond', serif;
}
time {
    color: #888;
    font-size: 0.8em;
}
p {
    font-size: 1em;
}
.container {
    height: 100%;
    width: 100%;
    display: block;
}
.row {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}
.col {
    @for $i from 0 through 12 {
        &--#{$i} {
            flex: #{$i};
        }
    }
}
.card {
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.15), inset 0 0 4px rgba(0,0,0,0.1);
    &_inner {
        padding: 15px;
    }
    &--white {
        background-color: rgba(255,255,255,1);
    }
    &--purple {
        background-color: rgba(51, 0, 255, 0.10);
    }
}
.navigation {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    &_item {
        background: #fff;
        color: transparent;
        box-shadow: 1px 0 3px rgba(0,0,0,0.2);
        border-radius: 100%;
        padding: 20px;
        margin-top: 10px;
        position: relative;
        height: 50px;
        width: 50px;
        cursor: pointer;
        border: none;
        outline: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:active {
            outline: none;
            border: none;
        }
        &:selection {
            background-color: transparent;
            outline: none;
            border: none;
        }
        &:before {
            content: '';
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            display: block;
        }
        &-prev:before {
            transform: rotate(225deg);
        }
        &-next:before {
            transform: rotate(45deg);
        }
        &:disabled {
            background: #ececec;
            &:before {
                opacity: 0.25;
            }
        }
    }
}
.activity_list {
    margin: 0;
    padding: 0;
}
.activity_item {
    list-style: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.activity_name {
    &:after {
        content: '-';
        display: inline-block;
        margin: 0 5px;
    }
}
.u {
    &-action-link {
        cursor: pointer;
        text-decoration: underline;
    }
    &-scroll-y {
        overflow-y: scroll;
    }
    &-full-height {
        height: 100%;
    }
    &-of-hidden {
        overflow: hidden;
    }
    &-small-v-30 {
        max-height: 30vh;
        @media screen and (min-width: 768px) {
            max-height: 100%;
        }
    }
    @for $i from 1 through 9 {
        &-opacity--#{$i} {
            opacity: #{'0.'+$i};
        }
        $i: $i+1;
    }
    @for $i from 5 through 30 {
        &-p--#{$i} {
            padding: #{$i}px;
        }
        &-m--#{$i} {
            margin: #{$i}px;
        }
        &-mb--#{$i} {
            margin-bottom: #{$i}px;
        }
        &-mt--#{$i} {
            margin-top: #{$i}px;
        }
        $i: $i+5;
    }
    &-text--purple {
        color: darken(rgb(50,0,255), 10);
    }

}