---
layout: post
client: Te Papa
project:  Gallipoli - Regimental Badge Explorer
title:  Regimental Badge Explorer and Builder
description: Click Suite worked closely with the Museum of New Zealand Te Papa Tongarewa, alongside Weta Workshop to deliver a set of interactive experiences for the Gallipoli - The Scale of our War exhibition
date:   2015-04-18 09:31:25 +1200
categories: work
feature: /assets/images/work/te-papa-badges/badges_feature.jpg
---

<div class="row mb-30">
	<div class="col-xs-12 col-md-6">
		<h2 class="t-c-blue mb-10 mt-0">{{page.client}}</h2>
		<h3 class="t-fs-xs-3 mt-0">{{page.project}}</h3>
	</div>
</div>

<div class="row mb-30 nm-x-20">
	<div class="col-xs-12">
		<img alt="A man reaches out to touch a vertical 42 inch touchscreen with a large regimental badge on it" src="/assets/images/work/te-papa-badges/badges-in-situ.jpg" class="u-mw-100 u-w-100 u-sh u-rounded" />
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<p class="t-fs-xs-1 t-lh-xs-3">
			{{ site.involvement_title }}
		</p>
		<ul class="u-list t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			<li class="u-list_item">Design</li>
			<li class="u-list_item">User testing</li>
			<li class="u-list_item">Front-end, css, js, html</li>
		</ul>
	</div>

	<div class="col-xs-12 col-md-8">
		<p class="t-fs-xs-1 t-lh-xs-3">
			{{page.description}}.
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			This digital exhibit focusses on presenting visitors with close-up hi-resolution images of the regimental badges of Gallipoli. The intricate designs can be appreciated while detailed information about the symbology, the motto, as well as the units that they were presented to accompany them.
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			Built as an html5 js app, this application is housed in 42" touch screen. The choice of technology allowed us to build quickly as well as iterate during further user testing.
		</p>

	</div>
	
</div>

<hr>

<div class="row mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">Up Close</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			Sitting alongside a wall panel that contained the badges at actual size, the swipeable gallery of high-resolution badges gave viewers an appreciation for the detail and beauty that may otherwise have been missed.   
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs">
		{% include lazyload.html image_src="/assets/images/work/te-papa-badges/badges-in-close-up.jpg" image_alt="A close up of a regimental badge" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>

<div class="row mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">Explore or Build</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			Visitors were able to the badges in detail, one by one, or take a different path and build their own badge.
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			In it's idle state, the interactive animates through each badge. 
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs">
		{% include lazyload.html image_src="/assets/images/work/te-papa-badges/badges-screen-1.jpg" image_alt="Two screens showing the badges interactive in the screensaver state and the view badge state" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>

<div class="row mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">Do It Yourself</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			The build-a-badge side of the interactive gives visitors a chance to find a unique combination of base, moto, and symbol. After colouring the badge to their liking, it is displayed on a wartime styled poster before which they can send home through an email interface.
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs">
		{% include lazyload.html image_src="/assets/images/work/te-papa-badges/badges-screen-2.jpg" image_alt="Two screens showing the badges interactive in the build a badge state" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>