---
layout: post
client: Wellington On a Plate
project: WOAP Food Festival Website
title:  WOAP Food Festival Website
description: We brought Wellington's favourite food festival up to date, first step, the famous burger finder
date:   2017-07-01 17:31:25 +1200
categories: work
feature: /assets/images/work/woap/woap_feature_work.jpg
---

<div class="row mb-30">
	<div class="col-xs-12 col-md-6">
		<h2 class="t-c-blue mb-10 mt-0">{{page.client}}</h2>
		<h3 class="t-fs-xs-3 mt-0">{{page.project}}</h3>
	</div>
</div>

<div class="row mb-30 nm-x-20">
	<div class="col-xs-12">
		<img alt="Screenshot representation of the Wellington on a plate website as well as the magazine" src="/assets/images/work/woap/2017-from-print-to-web.jpg" class="u-mw-100 u-w-100 u-sh u-rounded" />
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<p class="t-fs-xs-1 t-lh-xs-3">
			{{ site.involvement_title }}
		</p>
		<ul class="u-list t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			<li class="u-list_item">Ideation</li>
			<li class="u-list_item">Front-end, html, css, js, php</li>
			<li class="u-list_item">Technical direction</li>
			<li class="u-list_item">Product &amp; client management</li>
		</ul>
	</div>

	<div class="col-xs-12 col-md-8">
		<p class="t-fs-xs-1 t-lh-xs-3">
			{{page.description}}.
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			As an eager Burger Wellington fan, Wellington on a plate came into my life in the form of a two week burger binge each year. After seeing burger planning spreadsheets make their way across twitter and through various social circles, I got to work and  Wellington's first online burger finder and voting system was born. 
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3">
			I worked with the team at WOAP for three years while at Click Suite. In that time, we took an outdated wordpress setup and modernised their website with a focus on clarifying their offering, making the website mobile friendly, and helping to bring the back-office tasks online to streamline content creation and cut double and sometimes triple handling. We also saw the creation of an all new web-app that focussed on discovery, list creation and sharing while keeping the voting aspect close to the core of the experience.
		</p>
	</div>
	
</div>

<hr>

<div class="row reverse mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">Keep It Simple</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			After we refined our concept, the initial burger finder was built in 2014 utilising AngularJS and a google sheets backend. This allowed us to move fast and make changes as needed. We saw desktop usage skyrocket during business hours (especially around lunch-time) and mobile usage take the lead during the weekends. This type of tracking would help us make key decisions when moving forward with the rest of the website.
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs last-md">
		{% include lazyload.html image_src="/assets/images/work/woap/2014-woap-burgerwelly.jpg" image_alt="Image of the 2014 Burger Welly finder on an ipad" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>

<div class="row reverse mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">It Starts With a Plan</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			2017 brought with it WOAP's biggest update yet. Emma Martin lead the UX work on this project; qualitative surveys and extensive user experience planning, wire-framing and iteration ensured we moved forward with confidence. By prioritising key aspects of our deliverables, and setting clear milestones we were able to have ux, design, and development run in parallel to meet a deadline that was fast approaching. 
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs last-md">
		{% include lazyload.html image_src="/assets/images/work/woap/2017-wireframe-02.jpg" image_alt="Collection of UX elements" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>

<div class="row reverse mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">More Than a Fresh Coat of Paint</h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			Tim Denee lead the visual design on the initial refresh, with a focus on standardising the look and feel, pulling across key design elements from the print magazine. 
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			A centralized content management system was used to populate these pages as well as the web-app, this content would then go on to be used in the magazine, streamlining back-office tasks and minimizing the chance of outdated content making it out into the wild.
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs last-md">
		{% include lazyload.html image_src="/assets/images/work/woap/2017-venue-page.jpg" image_alt="A screenshot of a venue page outlining the restaurant menu" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>

<div class="row reverse mt-60 nm-x-20">
	<div class="col-xs-12 col-md-4 col-md-offset-1 pl-20 pr-20"> 
		<h3 class="mt-60">You're my fav ❤️ </h3>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			Alongside the UX and visual design, Patrik Niebur set about building the brand new web-app. Built on react and firebase, we could efficiently manage user accounts, lists, and scale as needed when the pressure was on.
		</p>
		<p class="t-light t-c-grey t-fs-xs-1 t-lh-xs-3 mt-0 mb-10">
			My involvement across the 2017 iteration of the website was mostly product and client management based, with a decent amount of front-end programming. All-in-all I'm incredibly proud of what started out as a humble burger finder and how it's continued to grow after my involvement ended.
		</p>
	</div>
	<div class="col-xs-12 col-md-7 first-xs last-md">
		{% include lazyload.html image_src="/assets/images/work/woap/2017-favourites-page.jpg" image_alt="A collection of screenshots showing the Favouriting and search flows across desktop and mobile" image_title="" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
	</div>
</div>