---
layout: default
---

<div class="mt-60">
    {{ content }}
</div>

<div class="mt-60">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2"> 
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                this.page.url = '{{site.url}}/{{ page.url }}';
                this.page.identifier = '{{page.id}}';
                };

                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://marc-mchardy-design.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>					
    </div>					
</div>					
<hr class="mt-70">