<!DOCTYPE html>
	<html>
		<head>
			{% include meta.html %}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
		</head>
		<body>
			<div class="wrapper">
				{% include header.html %}

				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-8 col-sm-4 col-md-3">
							{% svg /assets/images/marc-mchardy-logo-alt.svg width=700 class="u-mw-100 masthead" %}
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row mt-70 mb-90 middle-lg">

						<div class="col-xs-11 col-sm-6  col-lg-4">
							<div class="profile-photo-container u-sh u-profile-pt-xs u-profile-pt-md u-nm-left-hard">
								<img src="/assets/images/marc_3.jpg" class="u-mw-100 profile-photo" />
							</div>
						</div>

						<div class="col-xs-12 col-md-10 col-lg-8 profile-caption">
							<p class="t-fs-xs-2 t-lh-xs-4 mt-0 mb-0">
								I'm a digital product designer and problem solver. I've been in the industry for over ten years creating websites, apps, and other experiences that are clear, easy to use, and a little <span class="no-break">bit fun.</span> 
								<!-- <span class="t-c-blue"><a href="mailto:hi@marcmchardy.com" class="underline underline-blue no-break">Let's work together</a>.</span> -->
							</p>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-lg-6">
									<p class="t-c-grey t-light t-lh-xs-3">
										I like to work with people that really care about understanding the problems they're facing.
										From idea to design and build, I can help you out.
									</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-lg-6">
									<p class="t-c-grey t-light t-lh-xs-3">
										<!-- I'm available for design work from October 5th. If you'd like to work together <a href="mailto:hi@marcmchardy.com" class="highlight no-break">send me an email</a> or <a href="https://calendly.com/marc-mchardy" target="_blank" class="highlight no-break">book a time in my calender</a> for a chat. -->
										I'm available for design work from October 5th. If you'd like to work together send me an email or book a time in my calender for a chat.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 col-sm-4">
									<a href="mailto:hi@marcmchardy.com" class="u-btn underline-none t-c-grey t-light t-lh-xs-3 icon icon-pre-email mt-10">
										<span>Send me an email</span>
									</a>
								</div>
								<div class="col-xs-8 col-sm-4">
									<a href="https://calendly.com/marc-mchardy" target="_blank" class="u-btn underline-none t-c-grey t-light t-lh-xs-3 icon icon-pre-calendar mt-10">
										<span>Book a time to chat</span>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container-fluid">
					{{ content }}
				</div><!-- /.container -->

				{% include footer.html %}

				{% include scripts-footer.html %}
			</div>

		</body>
	</html>