<!DOCTYPE html>
	<html lang="en">

		{% include head.html %}

		<body>

			{% include header.html %}
		
			<div class="wrapper mt-60">
				<div class="container-fluid">
					<div class="row mb-70 middle-sm">

						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
							<div class="profile-photo-container u-profile-pt-xs u-profile-pt-md u-sh u-nm-left-hard u-rounded--right mt-30 mb-30">
								<img src="/assets/images/marc_6.jpg" class="u-mw-100 profile-photo" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-sm-offset-1">
							<div class="row">
								<h1 class="t-fs-xs-4 t-lh-xs-5 t-fs-md-5 t-lh-md-6 t-fs-lg-6 t-lh-lg-7  col-xs-12 profile-heading">
									Product designer<br>
									& problem solver. 
								</h1>
								<div class="col-xs-9 col-sm-7 col-md-6">
									<a href="mailto:{{site.email}}" data-ga="link" data-gal="feature email"  target="_blank" rel="noopener noreferrer" class="u-btn pt-10 pb-10 underline-none t-c-grey t-light t-lh-xs-2 icon icon-pre-email mt-10">
										<span>Send me an email</span>
									</a>
								</div>
								<div class="col-xs-9 col-sm-7 col-md-6">
									<a href="https://calendly.com/marc-mchardy" data-ga="link" data-gal="feature calendly"  target="_blank" class="u-btn pt-10 pb-10 underline-none t-c-grey t-light t-lh-xs-2 icon icon-pre-calendar mt-10">
										<span>Book a time to chat</span>
									</a>
								</div>
							</div>
						</div>

					</div>
					<div class="row mt-70">

						<div class="col-xs-12 col-md-10 col-lg-11">
							<h2 class="t-fs-xs-2 t-lh-xs-4 t-fs-sm-3 t-lh-sm-5 mt-0 mb-0">
								10+ years experience designing and building websites, apps, and other interactive experiences that are clear, easy to use, and a little <span class="no-break">bit fun.</span> 
							</h2>
						</div>
						
					</div>
					<div class="row mb-70">
						<div class="col-xs-12 col-sm-11 col-lg-11">
							<p class="t-c-grey t-light t-lh-xs-3 t-fs-sm-2 t-lh-sm-4 ">
								I work with businesses to help them launch successful digital products that solve real problems. 
								From validation and roadmap creation to UX, design, and build I can help you out. 
								<br class="u-md-show">
								<strong class="t-c-blue"> If you’d like to work together <a href="mailto:{{site.email}}" data-ga="link" data-gal="blurb email" target="_blank" rel="noopener noreferrer" class="underline t-c-blue">reach out and say hi!</a></strong> 
							</p>
						</div>
					</div>
				</div>


				<div class="container-fluid">
					{{ content }}
				</div>


				<div class="container-fluid">
					
					<hr>

					<div class="row mt-60">
						<div class="col-xs-12 col-md-10 col-lg-9">
							<p class="t-fs-xs-2 t-lh-xs-4 t-fs-sm-3 t-lh-sm-5  mt-0">
								If you’d like to work together reach out and say hi! I’d love to help develop your ideas and see how they can be turned into something amazing.
							</p>
						</div>
					</div>

				</div>

			</div>

			{% include footer.html %}
			{% include scripts-footer.html %}

		</body>
	</html>