---
layout: default
title: Marc McHardy, Designer
---
<div class="row">
	<div class="col-xs-8 col-md-3">
		{% svg /assets/images/marc-mchardy-logo-alt.svg width=700 class="u-mw-100 masthead" %}
	</div>
</div>

<div class="row mt-60 mb-60">
	<div class="col-xs-12 col-md-8 col-md-offset-4">
		<p class="t-fs-3 t-lh-6 mt-0">
			I'm a digital product designer and problem solver. I have over ten years experience creating websites, apps, and other experiences that are clear, easy to use, and a little <span class="no-break">bit fun.</span> <span class="t-c-blue"><a href="mailto:hi@marcmchardy.com" class="underline underline-blue no-break">Let's work together</a>.</span>
		</p>
	</div>
</div>

<div class="row mb-60 nm-x-20">
	<div class="col-xs-12 col-md-4">
		<img src="/assets/images/ruby-stage.jpg" data-url="/work/kiwi-ruby-conference" class="u-mw-100 u-w-100 u-sh u-rounded u-md-show" />
		<div class="ml-10">
			<a href="/" class="underline-none">
			<h3 class="t-c-blue mb-10 mt-25">Conference</h3>
			<p class="t-fs-3 mt-0 mb-10">Kiwi Ruby NZ</p>
				<span class="underline underline-grey t-c-grey">more &rarr;</span>
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-md-8 first-xs last-md">
		<img src="/assets/images/ruby-gems.jpg" class="u-mw-100 u-w-100 u-sh u-rounded" />
	</div>
</div>

<hr>

<div class="row reverse mt-60 nm-x-20">
	<div class="col-xs-12">
		<a href="/work/banqer-support-and-faqs" class="link-image">
			{% include lazyload.html image_src="/assets/images/work/banqer_support_hero.jpg" image_alt="Alt" image_title="Title" image_class="u-mw-100 u-w-100 u-sh u-rounded" %}
		</a>
	</div>
</div>

<div class="row mt-30 mb-70">
	<div class="col-xs-12 col-md-4">
			<h3 class="t-c-blue mb-10 mt-0">In-house UX and UI</h3>
			<p class="t-fs-3 mt-0">Banqer Support and FAQs</p>
			<a href="/work/banqer-support-and-faqs" class="underline underline-grey t-c-grey">more &rarr;</a>
	</div>
</div>

<hr>

<div class="row mt-60">
	<div class="col-xs-12 col-md-7">
		<p class="t-fs-3 t-lh-6 mt-0">
			If you’d like to work together reach out and say hi! I’d  love to help develop your ideas and see how they can be turned into something amazing.
		</p>
	</div>
</div>
